function Num.writeNum 1
push constant 16384
push constant 512
add
push argument 1
add
pop local 0
push argument 0
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 448
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 480
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 432
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 408
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 4088
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 4088
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
label IF_FALSE0
push argument 0
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 4088
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 4088
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 3096
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 3096
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 3072
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 3072
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 4088
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 4088
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 24
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 24
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 4088
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 4088
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
label IF_FALSE1
push argument 0
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 6144
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 6144
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 6144
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 6144
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 6144
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 6144
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
label IF_FALSE2
push argument 0
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 6168
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 6168
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 6168
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 6168
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 6168
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 6144
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 6144
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 6144
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 6144
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 6144
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
label IF_FALSE3
push argument 0
push constant 5
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 24
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 24
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 24
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 6144
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 6144
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 6144
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
label IF_FALSE4
push constant 0
return
